%h3="Edit invoice for #{@invoice_array.name}"
.row
  .col-md-12.col-md-offset-1
    = form_for(@invoice, url: invoice_array_invoice_path(invoice_array_id: @invoice_array, id: @invoice), html:{:class=>"form-horizontal", method: :put}) do |f|
      = render partial: "invoices/form", locals:{f:f}
