!!!
%html{:lang=>"en"}
  -#= render :partial => 'layouts/html_header'
  %head
    = wicked_pdf_stylesheet_link_tag    "invoice_pdf"
    %meta{:charset=>"utf-8"}
  %body
    #main-container.container
      = yield
