.row
  .col-md-12
    %table.table.table-hover
      %thead
        %tr
          %th Email
          %th Net
          %th Vat
          %th Created at
          %th Method
          %th Status
          %th
      %tbody
        = render partial: "orders/order", collection: @orders

.row
  .col-md-12
    = paginate @orders,:theme => 'twitter-bootstrap-3'
