-content_for :title do
  About the company
.row
  .col-xs-8.col-xs-offset-2
    %h3
      The Team
.row
  .col-xs-8.col-xs-offset-2
    %h4
      János Gönczy (CEO, co-founder)
    %p
      Janos has 20+ years experience in IT software development, he has been the designer and manager of several successful products. In 2004 he co-founded NNG Kft., one of the leading navigation software company. After he left NNG looking for different challenges, he founded Seamantec Kft.


%br
%br
.row
  .col-xs-8.col-xs-offset-2
    %h4
      Péter Varga (CTO, co-founder)
    %p
      Péter has 10+ years experience in software development, he has been working in many fields of the profession. Thanks to his enthusiasm he always welcomes new challenges, which
      is the key of the innovative development.
%br
%hr
%br
.row
  .col-xs-8.col-xs-offset-2
    %h3
      Contact:
.row
  .col-xs-3.col-xs-offset-2
    %b Sales and support:
  .col-xs-3
    = link_to "info@seamantec.com", "mailto:info@seamantec.com"
.row
  .col-xs-3.col-xs-offset-2
    %b János Gönczy:
  .col-xs-3
    = link_to "janos.gonczy@seamantec.com", "mailto:janos.gonczy@seamantec.com"
.row
  .col-xs-3.col-xs-offset-2
    %b Péter Varga:
  .col-xs-3
    = link_to "peter.varga@seamantec.com", "mailto:peter.varga@seamantec.com"