-content_for :title do
  Terms and conditions
.row
  .col-md-12
    %h1 General Terms and Conditions of Purchase
%hr
.row
  .col-md-12
    %i for Software Products of Seamantec Kft.
%br
%br
%br
.row
  .col-md-12
    %b
      IMPORTANT: Please read carefully these General Terms and Conditions of Purchase before proceeding to purchase any products offered by the Seller. You can access (view and download) a copy of these General Terms and Conditions directly at
      = link_to "General Terms and Conditions of Purchase", terms_path
.row
  .col-md-12
    %ul.list-unstyled
      %li
        %h3 1. INTRODUCTION, LEGAL NOTICES
        %p
          The terms and conditions of  handling and processing any personal data provided to us by You are set out in our Data Protection Policy, which is accessible directly from the front page of
          = link_to "http://www.seamantec.com", "http://www.seamantec.com"
          or directly at
          = link_to "General Terms and Conditions of Purchase", terms_path
          \.
        %p
          The governing language of the Agreement between you and the Seller shall be English.
        %p
          The Agreement shall not qualify as a written agreement, and agreements based on these General Terms and Conditions are neither registered, nor stored by Seller, therefore the specific Agreement between You and the Seller may not be recovered or accessed later.
        %p
          No self-imposed code of conduct or other instrument of self governance is applicable to Seller.
        %p
          By clicking “Accept”, “Order & Pay” or similar buttons on the relevant section of the Site, You acknowledge and agree to the terms and conditions set out below:
      %li
        %h3 2. DEFINITIONS
        %p
          %b “Agreement”
          means the purchase contract incorporating this GTC, the EULA and any other documents referred to by this GTC, which shall govern the purchase of the Software Product copy from the Seller.
        %p
          %b “Consumer”
          means a natural person that is acting for purposes outside his trade, profession or business activity
        %p
          %b “Consumer Rights Directive”
          means the Directive 2011/83/EU of The European Parliament And Of The Council of 25 October 2011on consumer rights.
        %p
          %b “Decree”
          means the Gov. Decree 45/2014 (II. 26.) on the detailed conditions of contract between consumers and traders.
        %p
          %b “DPP”
          means the Data Protection Policy as published by Seller on the Site.
        %p
          %b “EULA”
          means the End User License Agreement providing the terms and conditions of license granted, furthermore the warranties and liabilities undertaken by Seller regarding the Software Product.  The EULA is attached hereto as Appendix 2.
        %p
          %b “GTC”
          means these General Terms and Conditions of  Purchase.
        %p
          %b “Payment Service Provider”
          means a third party who provides payment, collection and invoicing related services via trusted and secure channels, usually via secure payment gateway.
        %p
          %b “Seller”
          means the business entity defined in Section 2.1 hereunder, being the seller of the Software Product copy and the licensor of usage rights acquired by the purchase as set out in the EULA.
        %p
          %b “Site”
          means the website at http://www.seamantec.com and any other websites and its subdomains owned or operated by Seller, which offers the Software Product to potential buyers on the basis of this GTC.
        %p
          %b “Software Product”
          means the copy and connected usage rights of Seller’s vessel monitoring and data analyzing software product and any other software or extension, update or upgrade to the Software Product that is offered for purchase by Seller under this GTC.
        %p
          %b “You”
          or
          %b“Customer”
          means the natural or legal person (consumer or trader entity) entering into an Agreement with Seller on the basis of this GTC for the purpose of purchasing the Software Product offered by Seller.
      %li
        %h3 3. GENERAL INFORMATION
      %li
        %h4 3.1. Seller information
        .row
          .col-md-3.text-right
            %b Name:
          .col-md-9
            Seamantec Korlátolt Felelősségű Társaság
        .row
          .col-md-3.text-right
            %b Registered seat:
          .col-md-9
            2092 Budakeszi, Szőlőskert utca 5.
        .row
          .col-md-3.text-right
            %b Postal address:
          .col-md-9
            2092 Budakeszi, Szőlőskert utca 5.
        .row
          .col-md-3.text-right
            %b Represented by:
          .col-md-9
            János Gönczy or Péter Varga
        .row
          .col-md-3.text-right
            %b Registry no.:
          .col-md-9
            Cg.13-09-164288
        .row
          .col-md-3.text-right
            %b Registry Court:
          .col-md-9
            Budapest Area Court (Budapest Környéki Törvényszék)
        .row
          .col-md-3.text-right
            %b VAT number:
          .col-md-9
            24364120-2-13
        .row
          .col-md-3.text-right
            %b EU VAT number:
          .col-md-9
            HU24364120
        .row
          .col-md-3.text-right
            %b Customer Support E-mail:
          .col-md-9
            info@seamantec.com
      %li
        %h4 3.2. Hosting provider information
        %p
          The Customer acknowledges that the downloadable Software Product copies are hosted by Amazon AWS’s services:
        %p
          Amazon Web Services, Inc.
          410 Terry Ave North
          Seattle, WA 98109-5210, US
      %li
        %h3 4. PURCHASING PRODUCTS
        %li
          %h4 4.1. Product description
          %p Seller offers various Software Product(s) for purchase and download via the Site to its Customers.
          %p
            %u Product Description, Compatibility.
            Specification of compatible personal computers, external hardware (e.g. vessel instruments), supported networks, systems and protocols and the description of the Software Product’s functions and features are available to You on the FAQ section and other documentation published on the Site.
          %p Specific features or functions of Software Products will no be usable if the environment and equipment to be provided by You are not in line with Seller’s specifications, therefore You must verify that the intended environment and your equipment are suitable for use with the Software Product.
          %p
            %b If any of the indicated requirements are not met, Seller will not be responsible, and the You shall bear any costs and/or damages arising from ordering Software Product not compatible with your other equipment.
        %li
          %h4 4.2. Downloading the Software Product
          %p Seller provides the Software Product via direct download to Your personal computer from the Site. No other means of delivery is currently offered by Seller on the basis of this GTC.
          %p Seller offers to You to download and install a free evaluation copy of the Software Product by entering Your e-mail address, first name and last name to the “demo download” section of the Site.
          %p In order to be able to download the demo version You must explicitly accept this GTC, the DPP and any other conditions that the Seller wishes you to acknowledge or accept, otherwise the download will not be available.
          %p Upon acceptance You submit an order to Seller that You wish to download and evaluate the Software Product free of charge under the terms of this GTC. Your download immediately starts and parallel to downloading Seller immediately – but latest within 48 hours from the order – verifies your order by sending you a confirmation e-mail with the evaluation license serial key. If You fail to receive the confirmation e-mail from the Seller within the deadline set out above, your order is considered null and void (due to rejection by Seller or due to any other circumstances that may have occurred during this procedure You must submit your order again.
        %li
          %h4 4.3. Installation and activation
          %p You may only install the downloaded Software Product copy on your personal computer by first reading and accepting the EULA accompanying the copy.
          %p After installation the Software Product will not start unless You enter your e-mail address provided when ordering the Software Product and the serial key (alphanumeric string of characters) provided by Seller to you via e-mail.
          %p
            %u Online activation.
            The e-mail address and serial key is verified by Seller via the Internet, therefore your personal computer must be connected to the Internet in order to successfully activate the Software Product.
          %p
            %u Offline activation.
            If Your personal computer is not connected to the Internet, You may go to the web address provided to you in the activation window of the Software Product and download a separate license file. Once downloaded You must click “open license file” button in the activation window, navigate to the downloaded license file in the file browser, select the license file and click “Open”.
          %p Once the serial key is entered, You may use the Software Product copy for the duration of the “evaluation period” determined by the EULA.
        %li
          %h4 4.4. Expiry
          %p Once the evaluation period expires You may not continue to use the Software Product without a purchasing a commercial license. Upon expiry You must cease using the Software Product and You acknowledge that the Software Product contains technological mechanisms to render all functions and features unusable without a commercial license.
        %li
          %h4 4.5. Commercial license purchase
          %p Anytime during the evaluation period or after expiry thereof You may decide to submit an order for a full commercial license enabling You to use the Software Product for an indefinite time for the Purchase Price.
          %p Commercial license may be purchased via the Site by entering the requested personal information and the number of Software Product copies You wish to purchase, furthermore any information connected to Your order requested by Seller. Thereafter You must explicitly accept this GTC, the DPP and any other conditions that the Seller wishes you to acknowledge or accept in order to proceed.
          %p Anytime during the purchase procedure until the order is submitted to Seller, You have the opportunity to correct any information or data provided by You.
          %p Once all required order information is entered and checked by You, You may send your order and at the same time initiate payment to Seller by clicking the “Pay” button on the checkout page of the Site. By sending your order You – as a Customer – send a binding offer to Seller to buy the Software Product(s) listed in your order, such offer being subject to acceptance by Seller.
          %p Seller will immediately – but latest within 48 hours – send you an e-mail with payment confirmation, your serial key and other useful information. This e-mail confirms receipt of your order and your payment and shall be regarded as acceptance of your offer by Seller. Only upon such acceptance is the legal Agreement concluded between You and the Seller. Your order (offer) is irrevocable, but in the event Your order is not confirmed at the latest within 48 hours after You sent the order, you are not bound to your offer anymore and you may initiate a chargeback procedure at the Payment Service Provider or directly contact Seller to receive your money back.
          %p You will receive your purchase receipt / invoice in a separate e-mail after the first verification e-mail containing your serial key.
          %p In the event that there are mistakes or errors in the verification e-mail, You must immediately (but latest within one (1) calendar day) notify Seller at the provided Customer Support e-mail of the error or mistake so that the error or mistake can be corrected. If no notification is received by Seller, the order will be fulfilled in line with the data in the verification e-mail.
          %p Although the purchase procedure is automatic, Seller reserves the right to reject any order.
          %p Parties hereby exclude the applicability of any trade or commercial practices to their relationship, including but not limited to any such practice agreed or adopted previously by the Parties or any other practice widely known and applied regularly in relation to contracts of similar subject.
        %li
          %h4 4.6 Payment procedure
          %p After clicking the “Pay” button You will be presented secure API backend interface of the chosen Payment Service Provider (e.g. PayPal or Braintree) within Seller’s webpage. Payment is only possible via the methods and Payment Service Providers offered by Seller during the purchase procedure.
          %p Therefrom the payment procedure shall continue in accordance with the Payment Service Provider’s terms and conditions and all data provided by You (e.g. login credentials to Payment Service Provider, bank card information, bank card security code, card expiry, etc.) during the payment shall only be provided to the Payment Service Provider and Seller will not receive any such data.
          %p Verification of the payment of the full Purchase Price usually takes one (1) calendar days, and the commercial serial key shall be sent to You after the Payment Service Provider verified that the full Purchase Price amount was paid.
          %p Once the commercial serial key is received, You may activate the commercial license to the Software Product as described in Section 4.3.
        %li
          %h4 4.7. General terms
          %p You agree and undertake full responsibility to provide current, complete, and accurate purchase and account information for all purchases made at the Site. You agree to promptly update your account and other information, so that we can complete your transactions and contact You as needed in connection with your transactions.
          %p
            %b
              %u Consumers only:
              You acknowledge and accept that the product you order from Seller qualifies as “digital content” within the meaning of the Consumer Rights Directive and the Decree, therefore You agree that we may begin to start the performance of the Agreement and provide you with the downloadable Product and provide you with the serial key immediately on purchase. You acknowledge that by giving your prior express consent for Seller to start the performance You lose your right of withdrawal regulated in the Decree.
      %li
        %h3 5. PURCHASE PRICE
        %p Current Purchase Prices are available on the Site and You may check and verify the final payable Purchase Price before submitting Your order.  Purchase Prices are subject to change at any time and without notice, but You will always be charged the price which is displayed at the time You submit your order to Seller.
        %p Prices shown on the Site exclude VAT, however if Your payment is subject to VAT You will be able to check and verify either (i) the amount of VAT applicable or (ii) the calculation method and VAT percentage applicable to Your transaction before submitting Your order.
        %p No other additional costs are added to the Purchase Price.
        %p If the chosen Payment Service Provider charges any transaction related fees to You, such fees are not considered as Purchase Price of the Software Product and such fee is payable on the basis of a contractual relationship independent of the Agreement between You and the Seller.
        %p Software Products purchased may be subject to import duties or other taxes. Any additional charges for customs clearance must be borne by You; we have no control over these charges. Customs policies vary widely from country to country, so You should contact your local authorities for further information. You agree to comply with all applicable international and national laws and regulations and pay all customs fees, taxes or other government fees to the relevant authorities.
      %li
        %h3 6. WARRANTY, GUARANTEE, PRODUCT LIABILITY
        %p The statutory terms set forth in Appendix 1 of this GTC shall be applied to your purchase concerning warranty for defects, product liability and guarantee.
        %p In the event that You intend to exercise Your rights, please do so by notifying Customer Support via e-mail (preferred) or registered postal letter.
        %p The terms of warranty undertaken by Seller for the Software Product are set out in the EULA.
      %li
        %h3 7.  LIMITATIONS OF LIABILITY
        %p You acknowledge that the purchase transactions (ordering, confirmation) and delivery of the Software Product are facilitated by computer systems and the public Internet network. Seller hereby disclaims all liabilities for damages and other consequences due to the failure or defect of such computer systems and the Internet, including data loss or loss of availability due to (i) high usage levels, Internet bottlenecks, (ii) computer viruses other malicious code, (iii) hacker activities and (iv) events not in the reasonable control of Seller or third parties, such as force majeure events.
        %p Furthermore Seller is not in any way liable for the delays, actions or omissions of the Payment Service Providers and third parties taking part in the fulfillment of the purchase transaction.
        %p The access credentials (username, password) enabling You to access the Site are to be kept secret and confidential from all unauthorized third parties. Preserving the access credentials’ confidentiality is Your sole responsibility. In the event that You learn that the confidentiality of your access credentials had been compromised, You should immediately notify this to Customer Support and modify the password Yourself.
        %p In the event that based on applicable law the Seller is liable for damages due to the fulfillment of this GTC (excluding liabilities for the Software Product itself) the maximum amount of liability – including any indemnification obligations Seller may have – equals to the net Purchase Price of the purchased of the Software Products.
        %p NEITHER SITE OWNER NOR ITS SUPPLIERS SHALL BE LIABLE TO USER FOR ANY INCIDENTAL, CONSEQUENTIAL, SPECIAL, INDIRECT OR EXEMPLARY DAMAGES ARISING OUT OF THE AGREEMENT, INCLUDING LOST PROFITS OR COSTS OF COVER, LOSS OF USE OR BUSINESS INTERRUPTION OR THE LIKE, REGARDLESS OF WHETHER THE PARTY WAS ADVISED OF THE POSSIBILITY OF SUCH DAMAGES.
        %p Conditions of liability regarding the Software Product are set out in the EULA.
      %li
        %h3 8. CUSTOMER SUPPORT, COMPLAINTS
        %li
          %h4 8.1. Support request types
          %p Customers may report (i) bugs, or provide (ii) feedback and submit (iii) complaints via e-mail to Seller. Bug reports and feedback will be processed and answered at Seller’s sole discretion in line with Seller’s then current available resources. Consumer complaints are handled in line with Section 8.2.
          %p Please visit our Support page for more information about Customer support and answers to some frequently asked questions.
        %li
          %h4 8.2. Handling complaints
          %p Should You have any complaint concerning the Software Product or the ordering and purchase process such complaint can be reported
          %p (i) via the e-mail address set forth in Section 2.1 or
          %p (ii) You can send us your complaint to the postal address of Seller set forth in Section 2.1.
          %p Customer Support will examine the complaint and respond to You within thirty (30) calendar days if you are a Consumer or as soon as reasonably possible if You are not a Consumer. Consumer complaints shall be registered by Seller and archived for 5 years from submission.
          %p If your complaint is rejected, Seller shall give the reason of the rejection.
        %li
          %h4 8.3. Dispute resolution alternatives
          %p In the event that the legal dispute with a Consumer is not resolved through amicable negotiations, the Consumer has the following possibilities:
          %ul
            %li
              making a complaint at the Consumer Protection Authority  (1088 Budapest, József krt. 6.; mailing address: 1428 Budapest, Pf. 20; tel: (+36 1) 459 4800; web: www.nfh.hu ); 
            %li initiating a consumer dispute at the Conciliatory Body operating near the Chamber of Commerce of Pest County and the City of Érd   (1055 Budapest, Kossuth Lajos tér 6-8. III. / 331., tel: +36 1 269 0703, email: pmbekelteto@pmkik.hu );  
            %li if You are an EU citizen, You can contact the European Consumer Centre at your country of residence and initiate a cross-border arbitration procedure. (For further information see: http://ec.europa.eu/consumers/ecc/ ) 
            %li initiation of a lawsuit.
      %li
        %h3 9. MISCELLANEOUS
        %p This Agreement will be governed by the laws of Hungary. The courts of Hungary shall have jurisdiction over all disputes related to the Agreement.
        %p If the Customer qualifies as a Consumer, the above choice of law and choice of venue shall not, have the result of depriving the Consumer of the protection afforded to him by provisions (including any provision regulating the court having jurisdiction) that cannot be derogated from by agreement by virtue of the law which, in the absence of choice, would have been applicable.
        %p The United Nations Convention on Contracts for the International Sales of Goods is hereby excluded from application to the Agreement.
        %p This Agreement is prepared originally in English language version. There may be other language versions as well. In case of any discrepancy between the English language version and any other language version the English language version shall prevail.
%br
This General Terms and Conditions of Purchase is effective from 1 November, 2014.

%br
%hr
%br
%br
.row
  .col-md-12.text-center
    %p
      %b Appendix 1
    %p
      %b Information Document for Consumers on Warranty for Defects, Product Liability, and Guarantee
.row
  .col-md-12
    %ul.list-unstyled
      %li
        %h4 1. Warranty for Defects
        %li
          %p
            %i In which cases shall You be entitled to make a warranty claim?
        %li
          %p In the case of non-conformity by Seller to any contractual obligations regarding the quality or quantity of the product (defect), You shall be entitled to make a warranty claim against Seller, pursuant to the provisions of the Hungarian Civil Code.
        %li
          %p
            %i What are the rights You shall enjoy according to your warranty claim?
        %li
          %p You shall be entitled to make a warranty claim by selecting an option below:
        %li
          %p
            %i You may choose either repair or replacement unless this is impossible, or it results in disproportionate expenses on the part of Seller as compared to the alternative remedy. If You did not select or were unable to select either repair or replacement, You may require an appropriate reduction of the price, or, in the last resort, have the contract rescinded.
        %li
          %p You shall be entitled to switch from the remedy You have selected to the alternative remedy. In this case, the costs of Seller incurred thereby shall be reimbursed unless it was made necessary by the Seller's conduct or for other justified reasons.
        %li
          %p
            %i For how long shall You be entitled to make a warranty claim?
        %li
          %p You shall be required to inform the Seller of any lack of conformity within the shortest time permitted by the prevailing circumstances, but – in case of Consumers – no later than within a two-month period that commences upon the discovery of the defect. Please also note that You shall be entitled to exercise your warranty rights in a maximum (i) two-year period of limitation in case of Consumers or (ii) one-year period of limitation in case of non-Consumers that commences upon delivery of the goods or services.
        %li
          %p
            %i Against whom shall You be entitled to make a warranty claim?
        %li
          %p You shall be entitled to make a warranty claim against Seller.
        %li
          %p
            %i What other conditions do apply?
        %li
          %p If you are a Consumer, in order to make a warranty claim within six months after delivery, no other conditions apply in addition to the obligation of informing the Seller about the defect, provided that You can prove that the product was sold or the service was provided by Seller. Following the six-month period of limitation that commences upon delivery of the goods or services, You shall carry the burden of proof and shall prove that the discovered defect already existed at the time of delivery.
      %li
        %h4 2. Product Liability
        %p Not applicable to software products, as software products are not (movable) goods.
      %li
        %h4 3. Guarantee
        %p Not applicable as the Government Decree 151/2003 (XI. 22.) on the mandatory guarantee concerning durable consumer goods does not include software (computer program) as a good that is burdened by mandatory guarantee for Consumers.
%br
%br
%hr
%br
%br

.row
  .col-md-12.text-center
    %p
      %b Appendix 2
    %p
      %b End User License Agreement

= render file: "static/eula"