.row.download
  .col-md-4.col-xs-12
    .row
      .col-xs-12.install-img
        = image_tag("install_steps/download-mac-chrome.png")
    .row
      .col-xs-12
        %h4 1. Download EDO Instruments
        %p.small.text-muted
          Click the EDO Instruments.dmg in your Downloads folder.
  .col-md-4.col-xs-12
    .row
      .col-xs-12.install-img
        = image_tag("install_steps/mac-install.png")
    .row
      .col-xs-12
        %h4 2. Add EDO Instruments to Applications
        %p.small.text-muted
          Drag EDO Instruments to your Applications folder.
  .col-md-4.col-xs-12
    .row
      .col-xs-12.install-img
        = image_tag("install_steps/mac-start.png")
    .row
      .col-xs-12
        %h4 3. Get started
        %p.small.text-muted
          Launch EDO Instruments and start sailing.