.row.download
  .col-md-4.col-xs-12
    .row
      .col-xs-12.install-img
        - if browser.ie?
          = image_tag("install_steps/download-win-ie.png")
        -else
          = image_tag("install_steps/download-mac-chrome.png")
    .row
      .col-xs-12
        %h4 1. Download EDO Instruments
        %p.small.text-muted
          - if browser.ie?
            Click Run or Save in bottom of your browser.
          -else
            Click the EDO Instruments.msi in your Downloads folder.
  .col-md-4.col-xs-12
    .row
      .col-xs-12.install-img
        = image_tag("install_steps/win-install.png")
    .row
      .col-xs-12
        %h4 2. Run the installer
        %p.small.text-muted
          Follow the steps in the installer. It only takes a minute.
  .col-md-4.col-xs-12
    .row
      .col-xs-12.install-img
        = image_tag("install_steps/win-start.png")
    .row
      .col-xs-12
        %h4 3. Get started
        %p.small.text-muted
          Launch EDO Instruments from start menu or from your desktop and start sailing.