= render partial: "layouts/cookie_notification", locals:{main_page: false}
.row.clearfix
  .col-xs-12.column.min-height-zero
    - flash.each do |name, msg|
      - if msg.is_a?(String)
        %div{:class=>"alert alert-#{name == :notice.to_s ? "success" : "danger"} alert-dismissable" }
          %button.close{"aria-hidden" => "true", "data-dismiss" => "alert", type: "button"} ×
          %h4
            =msg
